<div class="card">
    <div class="card-body">
        <h1 class="">{{receita.titulo}}</h1>
        <hr>
        <p>Ingredientes: {{receita.ingredientes}}</p>
        <br>
        <p class="">Modo de preparo: {{receita.modopreparo}}</p>
        <br>
        <hr>
        <small class="">Data de publicação: {{receita.data}}</small><br>
    </div>
</div>
