<div class="card box">
    <div class="card-body">
        <h1 class="fonte">{{receita.titulo}}</h1>
        <hr>
        <small class="fonte">Data de publicação: {{receita.data}}</small><br>
        <hr>
        <p class="fonte">{{receita.modopreparo}}</p>
    </div>
</div>
